<div class="container">

  <!--total pessoas-->
  <div class="card">
    <div class="info">
      <p>Total de Pessoas</p>
     <h2>{{ totalPessoas }}</h2>
    </div>
    <div class="icon">
      <img src="assets/users.png" width="30">
    </div>
  </div>

  <!--cidades-->
  <div class="card">
    <div class="info">
      <p>Cidades</p>
      <h2>{{ totalCidades }}</h2>
    </div>
    <div class="icon">
      <img src="assets/cidade.png" width="30">
    </div>
  </div>

  <!--estados-->
  <div class="card">
    <div class="info">
      <p>Estados</p>
      <h2>{{ totalEstados }}</h2>
    </div>
    <div class="icon">
      <img src="assets/estado.png" width="30">
    </div>
  </div>

</div>
